/* ****************************************************************
                            Default Values

    Font: Ubuntu, Pacifico(Only for logo), san seirf

    Colors:
    1.  Imperial Primer: #222f3e;
    2.  Wild Carribean: #1dd1a1;
    3.  Ligth Gray: #fbfbfb;
    4. Gray: #ccc;

    ****************************************************************/

/* ****************************************************************
                            Basic Setup
****************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', 'sans serif'
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

body {
    background-color: #fbfbfb;
}

.page-header {
    background-color: #222f3e;
    color: #fff;
    font-family: 'Pacifico', cursive;
    padding-left: 70px;
}

.page-header span{
    margin-left: 5px;
    color: #1dd1a1;
}

/* Nav Menu */

.nav-menu {
    padding: 10px 0px 10px 120px;
}

.nav-menu a{
    color: #ccc;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-menu a:hover{
    color: #222f3e;
    font-weight: 700;
}
.nav-menu li {
    padding: 20px;
}

/* Header image */

.header-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)) ,url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.header-image h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;
}

.header-image p{
    margin: 20px 170px;
    text-align: center;
}

/* Journey Ways */

.journey-ways {
    width: 90%;
    margin:auto;
    padding: 70px;
    padding-bottom: 40px;
}

.journey-ways h2{
    text-align: center;
    text-transform: uppercase;
    color: #222f3e;
    font-size: 35px;
    font-weight: 300;
}

.journey-ways h2 span {
    color: #1dd1a1;
}

#journey-explain {
    color: #222f3e;
    text-align: center;
    margin-top: 15px;
}

.travel-ways {
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.ways-to-travel {
    width: 30%;
}

.ways-to-travel:nth-child(2) {
    margin-top: 30px;
}

.ways-to-travel h3{
    margin-top: 15px;
    text-transform: uppercase;
    color: #222f3e;
}

.ways-to-travel h3 span {
    color:#1dd1a1;
}

.ways-to-travel p {
    margin-top: 10px;
    color: #222f3e;
}

/* City Gallery */

.city-images {
    padding-top: 40px;
    background-color: #1dd1a1;
    color:#222f3e;
}

.images-of-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.city-image {
    width: 29%;
    margin-bottom: 25px;
    background-color: #fbfbfb;
}

.city-image img {
    width: 100%;
}

.city-image h3 {
    padding: 15px;
}

.city-image p{
    padding: 0 15px 10px 15px;
}

.city-image:hover {
    transform: scale(1.5);
}

/* Videos */
.city-videos {
    padding-top: 40px;
    background-color: #2f2f2f;
    color:#9dbde2;
}

.videos-of-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* Blog */
.topic{
    background-color: #1dd1a1;
    color: #222f3e;

    padding: 40px;
}
.topic h1{
    padding:20px 0px;
}
.topic p{
    padding:20px 0px;
}

.topic p span{
    font-style: italic;
}
.topic h2{
    text-align:center;
}

/* Contact */


/* Footer */

footer {
    background-color: #222f3e;
    color: #fff;
    padding: 20px 70px;
}